{% extends "base.html" %}
{% block body %}
{% if status %}
<b>{{status}}</b>
{% endif %}
<h3>Create a New TodoList</h3>
<form action="{{formaction}}" method=POST>
    {% csrf_token %}
    Name of the List:<br>
    <input type="text" name="listName">
    <br>
    <input type="submit" name="submit" value="Create">
</form>
<h2> TodoLists </h2>
<table style="width:50%" border="1" cellspacing="0">
    <tr><th>Name</th><th>Todo Count</th><th>Done Count</th><th>Creation Date</th></tr>
    {% for lst in todoLists %}
    <tr><td>{{ lst.name }}</td><td>{{ lst.todoCount }}</td><td>{{ lst.doneCount }}</td><td>{{ lst.createdWhen }}</td>
        <td><a href="/list/{{watcher.wid}}">Logs</a></td>
    {% endfor %}
</table>
<h3>Delete a TodoList</h3>
<form action="{{formaction}}" method=POST>
    {% csrf_token %}
    Name of the List:<br>
    <td><select name="listName">
        <option value="" aria-disabled="true">Select A Name</option>
        {% for lst in todoLists %}
            <option> {{ lst.name }}</option>
        {% endfor %}
    </select></td>
    <br>
    <input type="submit" name="submit" value="Delete">
</form>
{% endblock %}
