<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
{% csrf_token %}

<br>
<a href="/">Return to Your TodoLists</a>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
                    <input type="text" class="form-control add-todo" placeholder="Add todo">
                    <button id="checkAll" class="btn btn-success">Mark all as done</button>
                    <button id="deleteAll" class="btn btn-danger">Delete all undone items</button>
                    <hr>
                    <ul id="not-done-items" class="list-unstyled">
                        {% for todo in todos %}
                            <li class="ui-state-default"><div class="checkbox"><label><input type="checkbox" value="" />{{ todo.content }}</label>
                            <span class="glyphicon glyphicon-align-justify" style='float: right;'></span>
                            </div></li>
                        {% endfor %}
                    </ul>
                    <div class="todo-footer">
                        <strong><span class="count-todos"></span></strong> Items Left
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <button id="uncheckAllDone" class="btn btn-warning">Mark all as undone</button>
                <button id="deleteAllDone" class="btn btn-danger">Delete all done items</button>
                <hr>
                <ul id="done-items" class="list-unstyled">
                    {% for todo in doneTodos %}
                        <li>{{ todo.content }}<button class="btn btn-default btn-xs pull-right  remove-item"><span class="glyphicon glyphicon-remove"></span></button>
                            <button class="btn btn-default btn-xs pull-right  undone-item"><span class="glyphicon glyphicon-share-alt"></span></button></li>
                    {% endfor %}
                </ul>
                <div class="todo-footer">
                        <strong><span class="count-doneTodos"></span></strong> Items are Done
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/frontend.js"></script>
