<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <title> TodoApp </title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="icon" type="image/png" href="../../static/icon.png">
</head>

<div class="sidenav">
    <div class="login-main-text">
        <h2>TodoApp<br> Login Page</h2>
    </div>
</div>
<div class="main">
 <div class="col-md-6 col-sm-12">
    <div class="login-form">
       <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
           <input type="hidden" name="next" value="{{ next }}" />
           <input style="margin-left: 75px" type="submit" name="submit" value="Login" class="btn btn-black"/>
       </form>
        <p>Dont have an account? <a href="/signup">Signup from here!</a></p>
    </div>
 </div>
</div>

<div id="footer">
    <p style="text-align: center;"> MIT © 2019 ysyesilyurt <a href="https://github.com/ysyesilyurt/TodoApp"> Original repository</a></p>
</div>